<nav>
  <div class="nav-logo-search-container">
    <p>re-furnish</p>
    <form action="" class="nav-search-form">
      <label for="search"></label>
      <input type="text" name="search" placeholder="Search">
      <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>


  <div class="nav-icons-buttons-container">
    <ul class="icons-container">
      <li><a href=""><i class="fa-solid fa-plus nav-icons"></i></a></li>
      <li><a href=""><i class="fa-solid fa-heart nav-icons"></i></a></li>
      <li><a href=""><i class="fa-solid fa-message nav-icons"></i></a></li>
      <li><a href=""><i class="fa-solid fa-user nav-icons"></i></a></li>
    </ul>

    <div class="nav-buttons">
      <a href="/login" class="btn btn-primary login">login</a>
      <a href="" class="btn btn-primary logout">logout</a>
    </div>
  </div>
</nav>
