$font-family: 'Roboto', sans-serif;
$font-title: 'Caveat', cursive;
$font-color: #643F0C;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: linear-gradient(white, #f4d79a);
  // background: rgb(163, 208, 219);
  // background: linear-gradient(
  //   227deg,
  //   rgba(163, 208, 219, 1) 0%,
  //   rgba(163, 176, 219, 1) 20%,
  //   rgba(163, 173, 219, 1) 34%,
  //   rgba(163, 219, 208, 1) 59%,
  //   rgba(163, 208, 219, 1) 74%,
  //   rgba(163, 208, 219, 1) 100%
  // );
}

h1 {
  font-family: $font-family;
  color: $font-color;
  font-size: xxx-large;
}

#typewriter {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: $font-title;
  font-size: 100px;
  color: $font-color;
  img {
    max-width: 100%;
    display: inline-block;
    // vertical-align: -100px;
    // margin-left: 10px;
    padding-top: 180px;
  }
}

.banner_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  overflow: visible;
  img {
    width: 100%;
    height: 90%;
    object-fit: none;
    background-color: #859F38;
    opacity: 0.6;
  }
}

.item_listings {
  display: flex;
  flex-wrap: row;
}

// const createItemComponent = (item) => {
//   return $(`<article class="item_listing">
//   <section class="item_listing_header">
//     <i class="fa-regular fa-heart"></i>
//     <img src="${item.photo}" alt="furniture">
//   </section>
//   <section class="item_listing_middle">
//     <h3 class="item_price">$${item.price}</h3>
//     <h3 class="item_sold">Sold</h3>
//   </section>
//   <section class="item_listing_footer">
//     <div class="icons">
//       <i class="fa-regular fa-location-dot"></i>
//     </div>
//     <div class="info">
//       <h6 class="item_title">${item.title}</h6>
//       <h6 class="item_location">${item.location_city}, ${item.location_province}</h6>
//     </div>
//   </section>
//   </article>`)
