.sell-item {
  h3 {
    color: #FAB005;
  }

}

.sell-item-form {
  input,
  select {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  #description {
    height: 15rem;
    width: 80%;
    display: block;
  }
}
